@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Pizza</h1>

<p role="status">Total Price: @TotalPrice</p>

<p role="status">List : @pizzaType</p>

<div class="row">
    @foreach (Pizza P in pizzas)
    {
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="@P.url" class="card-img-top" alt="@P.name">
                <div class="card-body">
                    <h5 class="card-title">@P.name</h5>
                    <p class="card-text">@P.description</p>
                    <p class="card-text">Price: @P.price</p>
                    <button @onclick="() => AddPizza(P)">Add to Cart</button>
                </div>
            </div>
        </div>
    }
</div>



@code {

    public class Pizza
    {
        public string name { get; set; }
        public int price { get; set; }
        public string description { get; set; }
        public string url { get; set; }

        public Pizza(string name, int price, string description, string url)
        {
            this.name = name;
            this.price = price;
            this.description = description;
            this.url = url;
        }
    }
    List<Pizza> pizzas = new List<Pizza>()
    {
        new Pizza("Мясная",1500,"Мясо конины,говядины, курицы с сыром моцарелла под фирменным барбекю соусом","https://donsamurai.ru/d/299084_452qmdga.jpg"),
        new Pizza("4 Сыра",1100,"Сыр пормезан, чеддер, с плесенью,моцарела","https://allopizza.su/storage/products/March2024/Rn2WYN3ZeeIqEUS62NKb.webp"),
        new Pizza("Пеперони",1200,"Сыр помезан с пеперони под фирменным томатным соусом","https://resizer.avtosushi.ru/resize?quality=90&height=500&width=720&url=https%3A%2F%2Fimages.avtosushi.ru%2Fimages%2F..%2F1%2FO3qHM1SdJPo3hGr-Q2JyQuU-PuVBSQeF.png&sign=VP1f3JWXiyAsq6d-SunCtGfHBy4mqCs6NZ99hN46tnA"),
        new Pizza("Жульен",1300,"Говяжий бекон с грибами , сыром моцарелла и фирменным грибным соусом","https://megatitan.ru/upload/iblock/c41/psgnmf9xqm8bnfkszwezruqm9nrouf4h.png"),
        new Pizza("Цезарь",1400,"Салат айсберг, помедоры черри, курица и фирменный чесночный соус, сухарики","https://megarolls.kz/wp-content/uploads/2021/06/19-1.jpg"),
        new Pizza("Маргарита",900,"","https://i0.wp.com/www.izumi-sushi.kz/wp-content/uploads/D0BCD0B0D180D0B3D0B0D180D0B8D182D0B0.webp?fit=300%2C300&ssl=1")
    };


    private int TotalPrice;
    public string pizzaType;

    public void AddPizza(Pizza P)
    {
        TotalPrice += P.price;
        if (!string.IsNullOrEmpty(pizzaType))
        pizzaType += ",";
        pizzaType += P.name;
    }


    
   
 
}
